In [1]:
import pandas as pd

In [2]:
df_test=pd.read_csv(r'processable data\april 2022.pdf.csv')
df_test.head()

,Unnamed: 0,DATE,(NET\rCONS.),MAXI.\rDEMAND\rMET\rDURING\rTHE DAY,TIME OF\rOCCUR-\rRENCE OF\rMAX\rDEMAND,SHEDDING\rAT THIS\rTIME,UN-REST-\rRICTED\rDEMAND,MAXIMUM\rUN-REST-\rRICTED\rDEMAND\rDURING\rTHE DAY,TIME OF\rMAX.\rUN-REST.\rDEMAND,DEMAND\rAT THAT\rTIME,SHEDDING\rAT THAT\rTIME
0,0,NaN,In Mus.,IN MW,IN HRS.,IN MW,IN MW,IN MW,HRS.,IN MW,IN MW
1,1,1,32,33,34,35,36=33+35,37=39+40,38,39,40
2,2,01.04.22,95.26,4469,15:41:51,0,4469,4469,15:41:51,4469,0
3,3,02.04.22,90.732,4170,15:45:06,0,4170,4170,15:45:06,4170,0
4,4,03.04.22,87.247,4219,22:59:14,0,4219,4219,22:59:14,4219,0

In [3]:
df_test=df_test.drop(index=[0,1], axis=0)

In [4]:
df_test.head()

,Unnamed: 0,DATE,(NET\rCONS.),MAXI.\rDEMAND\rMET\rDURING\rTHE DAY,TIME OF\rOCCUR-\rRENCE OF\rMAX\rDEMAND,SHEDDING\rAT THIS\rTIME,UN-REST-\rRICTED\rDEMAND,MAXIMUM\rUN-REST-\rRICTED\rDEMAND\rDURING\rTHE DAY,TIME OF\rMAX.\rUN-REST.\rDEMAND,DEMAND\rAT THAT\rTIME,SHEDDING\rAT THAT\rTIME
2,2,01.04.22,95.26,4469,15:41:51,0,4469,4469,15:41:51,4469,0
3,3,02.04.22,90.732,4170,15:45:06,0,4170,4170,15:45:06,4170,0
4,4,03.04.22,87.247,4219,22:59:14,0,4219,4219,22:59:14,4219,0
5,5,04.04.22,95.118,4537,15:42:36,0,4537,4537,15:42:36,4537,0
6,6,05.04.22,95.844,4638,15:47:34,0,4638,4638,15:47:34,4638,0

In [5]:
len(df_test)

30

In [6]:
import os
full_data=pd.DataFrame()

In [7]:
for filename in os.listdir('processable data'):
    filepath=os.path.join('processable data', filename)
    df=pd.read_csv(filepath)
    full_data=pd.concat([full_data, df])

In [8]:
full_data.head()

,Unnamed: 0,DATE,(NET\rCONS.),MAXI.\rDEMAND\rMET\rDURING\rTHE DAY,TIME OF\rOCCUR-\rRENCE OF\rMAX\rDEMAND,SHEDDING\rAT THIS\rTIME,UN-REST-\rRICTED\rDEMAND,MAXIMUM\rUN-REST-\rRICTED\rDEMAND\rDURING\rTHE DAY,TIME OF\rMAX.\rUN-REST.\rDEMAND,DEMAND\rAT THAT\rTIME,...,Unnamed: 0.1,06.08.22\r115.558560023:02:4205600560023:02:4256000\r07.08.22\r105.70054220:00:030542254220:00:0354220\r08.08.22\r114.090584323:04:0205843584323:04:0258430\r09.08.22\r124.183630322:52:1906303630322:52:1963030\r10.08.22\r131.747644623:26:3506446644623:26:3564460\r11.08.22\r114.98263390:02:290633963390:02:2963390\r12.08.22\r119.297592515:31:5405925592515:31:5459250\r13.08.22\r120.616591823:15:1705918591823:15:1759180\r14.08.22\r112.73457750:00:000577557750:00:0057750\r15.08.22\r97.768517222:56:5705172517222:56:5751720\r16.08.22\r109.773522415:21:2205224522415:21:2252240\r17.08.22\r113.310554623:15:0205546554623:15:0255460\r18.08.22\r119.430584115:13:3705841584115:13:3758410\r19.08.22\r119.50156840:00:130568456840:00:1356840\r20.08.22\r121.31956380:55:100563856380:55:1056380\r21.08.22\r117.450606923:00:0906069606923:00:0960690\r22.08.22\r131.174629822:52:5606298629822:52:5662980\r23.08.22\r124.52261070:00:360610761070:00:3661070\r24.08.22\r122.60558030:03:260580358030:03:2658030\r25.08.22\r121.760593923:06:3105939593923:06:3159390\r26.08.22\r125.178612023:15:1446120612023:15:1461204\r27.08.22\r124.54559110:00:134591159110:00:1359114\r28.08.22\r117.122598423:18:5605984598423:18:5659840\r29.08.22\r124.840612015:16:0906120612015:16:0961200\r30.08.22\r124.866593115:41:4605931593115:41:4659310\r31.08.22\r128.118624123:03:0106241624123:03:0162410\rTOTAL\r3699.366644623.26.37644623.26.35\r10.08.2210.08.22\r9.LOAD PATTERN OF DELHI ON THE DAY OF PEAK DEMAND MET DURING\rAUGUST 2022 ON 10.08.2022 - 6446 MW AT23.26.37HRS.\rAll figures in MW\rHrs.DemandLoad SheddingUn-Restricted Demand\r1.00569805698\r2.00537405374\r3.00506805068\r4.00484704847\r5.00470104701\r6.00450304503\r7.00454004540\r8.00450904509\r9.00469004690\r10.00529705297\r19,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0.0,NaN,In Mus.,IN MW,IN HRS.,IN MW,IN MW,IN MW,HRS.,IN MW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1,32,33,34,35,36=33+35,37=39+40,38,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,01-04-2021,72.325,3549,12:03:17,0,3549,3549,12:03:17,3549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,02-04-2021,71.203,3508,11:58:02,0,3508,3508,11:58:02,3508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,03-04-2021,69.366,3383,19:07:11,0,3383,3383,19:07:11,3383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
len(full_data)

928

In [10]:
full_data.to_csv('full_data.csv')

PermissionError: [Errno 13] Permission denied: 'full_data.csv'

In [ ]:
full_data.head(10)

,Unnamed: 0,DATE,(NET\rCONS.),MAXI.\rDEMAND\rMET\rDURING\rTHE DAY,TIME OF\rOCCUR-\rRENCE OF\rMAX\rDEMAND,SHEDDING\rAT THIS\rTIME,UN-REST-\rRICTED\rDEMAND,MAXIMUM\rUN-REST-\rRICTED\rDEMAND\rDURING\rTHE DAY,TIME OF\rMAX.\rUN-REST.\rDEMAND,DEMAND\rAT THAT\rTIME,...,Unnamed: 0.1,06.08.22\r115.558560023:02:4205600560023:02:4256000\r07.08.22\r105.70054220:00:030542254220:00:0354220\r08.08.22\r114.090584323:04:0205843584323:04:0258430\r09.08.22\r124.183630322:52:1906303630322:52:1963030\r10.08.22\r131.747644623:26:3506446644623:26:3564460\r11.08.22\r114.98263390:02:290633963390:02:2963390\r12.08.22\r119.297592515:31:5405925592515:31:5459250\r13.08.22\r120.616591823:15:1705918591823:15:1759180\r14.08.22\r112.73457750:00:000577557750:00:0057750\r15.08.22\r97.768517222:56:5705172517222:56:5751720\r16.08.22\r109.773522415:21:2205224522415:21:2252240\r17.08.22\r113.310554623:15:0205546554623:15:0255460\r18.08.22\r119.430584115:13:3705841584115:13:3758410\r19.08.22\r119.50156840:00:130568456840:00:1356840\r20.08.22\r121.31956380:55:100563856380:55:1056380\r21.08.22\r117.450606923:00:0906069606923:00:0960690\r22.08.22\r131.174629822:52:5606298629822:52:5662980\r23.08.22\r124.52261070:00:360610761070:00:3661070\r24.08.22\r122.60558030:03:260580358030:03:2658030\r25.08.22\r121.760593923:06:3105939593923:06:3159390\r26.08.22\r125.178612023:15:1446120612023:15:1461204\r27.08.22\r124.54559110:00:134591159110:00:1359114\r28.08.22\r117.122598423:18:5605984598423:18:5659840\r29.08.22\r124.840612015:16:0906120612015:16:0961200\r30.08.22\r124.866593115:41:4605931593115:41:4659310\r31.08.22\r128.118624123:03:0106241624123:03:0162410\rTOTAL\r3699.366644623.26.37644623.26.35\r10.08.2210.08.22\r9.LOAD PATTERN OF DELHI ON THE DAY OF PEAK DEMAND MET DURING\rAUGUST 2022 ON 10.08.2022 - 6446 MW AT23.26.37HRS.\rAll figures in MW\rHrs.DemandLoad SheddingUn-Restricted Demand\r1.00569805698\r2.00537405374\r3.00506805068\r4.00484704847\r5.00470104701\r6.00450304503\r7.00454004540\r8.00450904509\r9.00469004690\r10.00529705297\r19,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0.0,NaN,In Mus.,IN MW,IN HRS.,IN MW,IN MW,IN MW,HRS.,IN MW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1,32,33,34,35,36=33+35,37=39+40,38,39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,01-04-2021,72.325,3549,12:03:17,0,3549,3549,12:03:17,3549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,02-04-2021,71.203,3508,11:58:02,0,3508,3508,11:58:02,3508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,03-04-2021,69.366,3383,19:07:11,0,3383,3383,19:07:11,3383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.0,04-04-2021,67.975,3292,19:25:01,0,3292,3292,19:25:01,3292,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.0,05-04-2021,81.584,3735,12:30,0,3735,3735,12:30,3735,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,06-04-2021,80.009,3908,15:37:05,0,3908,3908,15:37:05,3908,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,07-04-2021,82.112,4040,11:30,0,4040,4040,11:30,4040,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,08-04-2021,80.232,3829,11:30,0,3829,3829,11:30,3829,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df=pd.read_csv('full_data.csv')
df.head()

,DATE,NET CON. (In Mus.),MAXI. DEMAND MET DURING THE DAY (IN MW),TIME OF OCCURRENCE OF MAX DEMAND (IN HRS.),SHEDDING AT THIS TIME (IN MW),UN-RESTRICTED DEMAND (IN MW),MAXIMUM UN-RESTRICTED DEMAND DURING THE DAY (IN MW),TIME OF MAX. UN-REST. DEMAND (Hrs),DEMAND AT THAT TIME (IN MW),SHEDDING AT THAT TIME (IN MW)
0,01-04-2021,72.325,3549,12:03:17,0.0,3549.0,3549.0,12:03:17,3549,0.0
1,02-04-2021,u,3508,11:58:02,0.0,3508.0,3508.0,11:58:02,3508,0.0
2,03-04-2021,69.366,3383,19:07:11,0.0,3383.0,3383.0,19:07:11,3383,0.0
3,04-04-2021,67.975,3292,19:25:01,0.0,3292.0,3292.0,19:25:01,3292,0.0
4,05-04-2021,81.584,3735,12:30,0.0,3735.0,3735.0,12:30,3735,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 10 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   DATE                                                 826 non-null    object
 1   NET CON. (In Mus.)                                   826 non-null    object
 2   MAXI. DEMAND MET DURING THE DAY (IN MW)              826 non-null    int64
 3   TIME OF OCCURRENCE OF MAX DEMAND (IN HRS.)           826 non-null    object
 4   SHEDDING AT THIS TIME (IN MW)                        826 non-null    float64
 5   UN-RESTRICTED DEMAND (IN MW)                         824 non-null    float64
 6   MAXIMUM UN-RESTRICTED DEMAND DURING THE DAY (IN MW)  824 non-null    float64
 7   TIME OF MAX. UN-REST. DEMAND (Hrs)                   826 non-null    object
 8   DEMAND AT THAT TIME (IN MW)                          826 non-null    int64
 9   SHEDDING AT THAT TIME (IN MW)                        826 non-null    float64
dtypes: float64(4), int64(2), object(4)
memory usage: 64.7+ KB

In [ ]:
import pickle
with open('dataframe.pkl', 'wb') as f:
    pickle.dump(df, f)