In [1]:
import pickle
import pandas

In [2]:
with open('dataframe.pkl', 'rb') as f:
    df=pickle.load(f)

In [3]:
df.head()

,DATE,NET CON. (In Mus.),MAXI. DEMAND MET DURING THE DAY (IN MW),TIME OF OCCURRENCE OF MAX DEMAND (IN HRS.),SHEDDING AT THIS TIME (IN MW),UN-RESTRICTED DEMAND (IN MW),MAXIMUM UN-RESTRICTED DEMAND DURING THE DAY (IN MW),TIME OF MAX. UN-REST. DEMAND (Hrs),DEMAND AT THAT TIME (IN MW),SHEDDING AT THAT TIME (IN MW)
0,01-04-2021,72.325,3549,12:03:17,0.0,3549.0,3549.0,12:03:17,3549,0.0
1,02-04-2021,u,3508,11:58:02,0.0,3508.0,3508.0,11:58:02,3508,0.0
2,03-04-2021,69.366,3383,19:07:11,0.0,3383.0,3383.0,19:07:11,3383,0.0
3,04-04-2021,67.975,3292,19:25:01,0.0,3292.0,3292.0,19:25:01,3292,0.0
4,05-04-2021,81.584,3735,12:30,0.0,3735.0,3735.0,12:30,3735,0.0

In [5]:
df.dtypes

DATE                                                    object
NET CON. (In Mus.)                                      object
MAXI. DEMAND MET DURING THE DAY (IN MW)                  int64
TIME OF OCCURRENCE OF MAX DEMAND (IN HRS.)              object
SHEDDING AT THIS TIME (IN MW)                          float64
UN-RESTRICTED DEMAND (IN MW)                           float64
MAXIMUM UN-RESTRICTED DEMAND DURING THE DAY (IN MW)    float64
TIME OF MAX. UN-REST. DEMAND (Hrs)                      object
DEMAND AT THAT TIME (IN MW)                              int64
SHEDDING AT THAT TIME (IN MW)                          float64
dtype: object