# Basic Pre-Processing of Electricity Consumption Dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
# importing the Electricity Consumption Dataset
import pickle

# Open the file in 'rb' mode first
with open("dataframe.pkl", 'rb') as file:
    df = pickle.load(file)

In [3]:
df.head()

,DATE,NET CON. (In Mus.),MAXI. DEMAND MET DURING THE DAY (IN MW),TIME OF OCCURRENCE OF MAX DEMAND (IN HRS.),SHEDDING AT THIS TIME (IN MW),UN-RESTRICTED DEMAND (IN MW),MAXIMUM UN-RESTRICTED DEMAND DURING THE DAY (IN MW),TIME OF MAX. UN-REST. DEMAND (Hrs),DEMAND AT THAT TIME (IN MW),SHEDDING AT THAT TIME (IN MW)
0,01-04-2021,72.325,3549,12:03:17,0.0,3549.0,3549.0,12:03:17,3549,0.0
1,02-04-2021,u,3508,11:58:02,0.0,3508.0,3508.0,11:58:02,3508,0.0
2,03-04-2021,69.366,3383,19:07:11,0.0,3383.0,3383.0,19:07:11,3383,0.0
3,04-04-2021,67.975,3292,19:25:01,0.0,3292.0,3292.0,19:25:01,3292,0.0
4,05-04-2021,81.584,3735,12:30,0.0,3735.0,3735.0,12:30,3735,0.0

In [4]:
# dropping all the rows with missing values
df.dropna(inplace=True)

# dropping the 2nd row
df.drop(1, inplace=True)

In [5]:
# code to pre-process the DATE column
import pandas as pd

# Function to convert the specific date formats to standard datetime format
def convert_date_format(date_str):
    try:
        # Check if the date is in the format "DD.MM.YY"
        if pd.to_datetime(date_str, format='%d.%m.%y', errors='coerce') is not pd.NaT:
            return pd.to_datetime(date_str, format='%d.%m.%y').strftime('%d-%m-%Y')
        # Check if the date is in the format "DD.Mmm.YY"
        elif pd.to_datetime(date_str, format='%d.%b.%y', errors='coerce') is not pd.NaT:
            return pd.to_datetime(date_str, format='%d.%b.%y').strftime('%d-%m-%Y')
        else:
            return date_str
    except Exception:
        return date_str

# Apply the function to the DATE column
df['DATE'] = df['DATE'].apply(convert_date_format)

# Convert the DATE column to datetime64[ns] format
df['DATE'] = pd.to_datetime(df['DATE'], format='%d-%m-%Y', errors='coerce')

# Display the updated DataFrame
df

,DATE,NET CON. (In Mus.),MAXI. DEMAND MET DURING THE DAY (IN MW),TIME OF OCCURRENCE OF MAX DEMAND (IN HRS.),SHEDDING AT THIS TIME (IN MW),UN-RESTRICTED DEMAND (IN MW),MAXIMUM UN-RESTRICTED DEMAND DURING THE DAY (IN MW),TIME OF MAX. UN-REST. DEMAND (Hrs),DEMAND AT THAT TIME (IN MW),SHEDDING AT THAT TIME (IN MW)
0,2021-04-01,72.325,3549,12:03:17,0.0,3549.0,3549.0,12:03:17,3549,0.0
2,2021-04-03,69.366,3383,19:07:11,0.0,3383.0,3383.0,19:07:11,3383,0.0
3,2021-04-04,67.975,3292,19:25:01,0.0,3292.0,3292.0,19:25:01,3292,0.0
4,2021-04-05,81.584,3735,12:30,0.0,3735.0,3735.0,12:30,3735,0.0
5,2021-04-06,80.009,3908,15:37:05,0.0,3908.0,3908.0,15:37:05,3908,0.0
...,...,...,...,...,...,...,...,...,...,...
821,2022-09-26,95.677,4726,15:27:21,0.0,4726.0,4726.0,15:27:21,4726,0.0
822,2022-09-27,98.801,4805,15:16:00,0.0,4805.0,4805.0,15:16:00,4805,0.0
823,2022-09-28,105.23,4959,15:04:30,0.0,4959.0,4959.0,15:04:30,4959,0.0
824,2022-09-29,103.993,5051,14:57:32,0.0,5051.0,5051.0,14:57:32,5051,0.0
825,2022-09-30,104.912,5100,15:28:50,0.0,5100.0,5100.0,15:28:50,5100,0.0

In [6]:
# Basic Feature Engineering from DATE column

df['day_of_week'] = df['DATE'].dt.dayofweek
df['month'] = df['DATE'].dt.month
df['year'] = df['DATE'].dt.year
df['is_weekend'] = df['DATE'].dt.dayofweek >= 5

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 823 entries, 0 to 825
Data columns (total 14 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   DATE                                                 821 non-null    datetime64[ns]
 1   NET CON. (In Mus.)                                   823 non-null    object
 2   MAXI. DEMAND MET DURING THE DAY (IN MW)              823 non-null    int64
 3   TIME OF OCCURRENCE OF MAX DEMAND (IN HRS.)           823 non-null    object
 4   SHEDDING AT THIS TIME (IN MW)                        823 non-null    float64
 5   UN-RESTRICTED DEMAND (IN MW)                         823 non-null    float64
 6   MAXIMUM UN-RESTRICTED DEMAND DURING THE DAY (IN MW)  823 non-null    float64
 7   TIME OF MAX. UN-REST. DEMAND (Hrs)                   823 non-null    object
 8   DEMAND AT THAT TIME (IN MW)                          823 non-null    int64
 9   SHEDDING AT THAT TIME (IN MW)                        823 non-null    float64
 10  day_of_week                                          821 non-null    float64
 11  month                                                821 non-null    float64
 12  year                                                 821 non-null    float64
 13  is_weekend                                           823 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(7), int64(2), object(3)
memory usage: 90.8+ KB

In [8]:
df.head()

,DATE,NET CON. (In Mus.),MAXI. DEMAND MET DURING THE DAY (IN MW),TIME OF OCCURRENCE OF MAX DEMAND (IN HRS.),SHEDDING AT THIS TIME (IN MW),UN-RESTRICTED DEMAND (IN MW),MAXIMUM UN-RESTRICTED DEMAND DURING THE DAY (IN MW),TIME OF MAX. UN-REST. DEMAND (Hrs),DEMAND AT THAT TIME (IN MW),SHEDDING AT THAT TIME (IN MW),day_of_week,month,year,is_weekend
0,2021-04-01,72.325,3549,12:03:17,0.0,3549.0,3549.0,12:03:17,3549,0.0,3.0,4.0,2021.0,False
2,2021-04-03,69.366,3383,19:07:11,0.0,3383.0,3383.0,19:07:11,3383,0.0,5.0,4.0,2021.0,True
3,2021-04-04,67.975,3292,19:25:01,0.0,3292.0,3292.0,19:25:01,3292,0.0,6.0,4.0,2021.0,True
4,2021-04-05,81.584,3735,12:30,0.0,3735.0,3735.0,12:30,3735,0.0,0.0,4.0,2021.0,False
5,2021-04-06,80.009,3908,15:37:05,0.0,3908.0,3908.0,15:37:05,3908,0.0,1.0,4.0,2021.0,False

In [9]:
# converting the net consumption column to float
df['NET CON. (In Mus.)'] = df['NET CON. (In Mus.)'].astype(float)

In [10]:
# selecting the useful features from df
final_df = df[['DATE', 'NET CON. (In Mus.)', 'day_of_week', 'month', 'year', 'is_weekend']]

In [11]:
final_df.head()

        DATE  NET CON. (In Mus.)  day_of_week  month    year  is_weekend
0 2021-04-01              72.325          3.0    4.0  2021.0       False
2 2021-04-03              69.366          5.0    4.0  2021.0        True
3 2021-04-04              67.975          6.0    4.0  2021.0        True
4 2021-04-05              81.584          0.0    4.0  2021.0       False
5 2021-04-06              80.009          1.0    4.0  2021.0       False

# Basic Pre-Processing of Weather Data

In [12]:
feature_df = pd.read_excel("features.xlsx")
feature_df.rename(columns={'datetime': 'DATE'}, inplace=True)

In [13]:
feature_df.head()

,DATE,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevellpressure,visibility,solarenergy,uvindex,moonphase
0,2023-01-01,13.4,13.3,9.6,79.8,0.0,9.4,265.7,1020.6,1.7,12.5,6,0.30
1,2023-01-02,12.4,12.4,10.3,87.9,0.0,9.4,170.2,1021.4,0.8,13.0,6,0.34
2,2023-01-03,11.2,11.0,8.7,85.6,0.0,9.4,287.2,1022.2,0.8,13.1,6,0.37
3,2023-01-04,9.6,9.0,7.9,90.1,0.0,11.2,290.2,1022.2,1.0,13.2,6,0.41
4,2023-01-05,9.7,9.4,6.1,83.0,0.0,8.7,280.0,1023.7,3.6,13.4,6,0.44

In [14]:
# Merge the two DataFrames on the 'DATE' column
final_df = pd.merge(final_df, feature_df, on='DATE', how='inner')

final_df.head()

,DATE,NET CON. (In Mus.),day_of_week,month,year,is_weekend,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevellpressure,visibility,solarenergy,uvindex,moonphase
0,2021-04-01,72.325,3.0,4.0,2021.0,False,27.1,26.1,3.0,22.5,0.0,22.8,274.7,1002.8,3.1,26.3,10,0.62
1,2021-04-03,69.366,5.0,4.0,2021.0,True,26.0,25.1,1.2,23.0,0.0,16.4,305.0,1008.8,3.5,26.2,10,0.69
2,2021-04-04,67.975,6.0,4.0,2021.0,True,27.1,26.0,4.7,27.9,0.0,18.3,258.9,1009.5,3.2,25.9,10,0.75
3,2021-04-05,81.584,0.0,4.0,2021.0,False,29.9,28.9,8.0,28.7,0.0,13.4,132.2,1007.8,3.1,25.1,9,0.76
4,2021-04-06,80.009,1.0,4.0,2021.0,False,30.4,29.5,10.1,30.4,0.0,14.8,92.8,1006.2,2.4,24.2,9,0.80

# Pre-Processing of this final Dataset (Encoding)

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [16]:
encoder = OneHotEncoder(drop='first', sparse_output=False, handle_unknown='ignore')

# Fit and transform the 'is_weekend' column
encoded = encoder.fit_transform(final_df[['is_weekend']])

# Create a DataFrame for the encoded features
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['is_weekend']))

# Concatenate the encoded features with the original DataFrame
df_encoded = pd.concat([final_df, encoded_df], axis=1)

# Drop the original 'is_weekend' column if it's no longer needed
df_encoded = df_encoded.drop(columns=['is_weekend'])

# Display the resulting DataFrame
df_encoded.head()

,DATE,NET CON. (In Mus.),day_of_week,month,year,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevellpressure,visibility,solarenergy,uvindex,moonphase,is_weekend_True
0,2021-04-01,72.325,3.0,4.0,2021.0,27.1,26.1,3.0,22.5,0.0,22.8,274.7,1002.8,3.1,26.3,10,0.62,0.0
1,2021-04-03,69.366,5.0,4.0,2021.0,26.0,25.1,1.2,23.0,0.0,16.4,305.0,1008.8,3.5,26.2,10,0.69,1.0
2,2021-04-04,67.975,6.0,4.0,2021.0,27.1,26.0,4.7,27.9,0.0,18.3,258.9,1009.5,3.2,25.9,10,0.75,1.0
3,2021-04-05,81.584,0.0,4.0,2021.0,29.9,28.9,8.0,28.7,0.0,13.4,132.2,1007.8,3.1,25.1,9,0.76,0.0
4,2021-04-06,80.009,1.0,4.0,2021.0,30.4,29.5,10.1,30.4,0.0,14.8,92.8,1006.2,2.4,24.2,9,0.80,0.0

In [17]:
# dropping the 'DATE' column

df_encoded = df_encoded.drop(columns=['DATE'])

# Starting the training model

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score

In [19]:
# Split into features and target
X = df_encoded.drop("NET CON. (In Mus.)", axis=1)
y = df_encoded["NET CON. (In Mus.)"]

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [20]:
X_test

,day_of_week,month,year,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevellpressure,visibility,solarenergy,uvindex,moonphase,is_weekend_True
511,2.0,5.0,2020.0,37.9,37.5,12.0,23.2,0.000,22.3,322.8,997.9,4.0,27.3,10,0.16,0.0
39,2.0,4.0,2018.0,26.8,27.0,16.4,53.7,0.000,22.3,64.0,1008.5,3.8,22.0,9,0.85,0.0
211,1.0,2.0,2022.0,13.4,13.4,11.5,89.2,0.000,13.0,254.8,1011.6,0.8,14.9,7,0.00,0.0
199,5.0,12.0,2021.0,11.1,10.1,6.1,75.1,0.000,27.7,261.4,1020.4,1.5,14.4,6,0.47,1.0
235,4.0,2.0,2022.0,20.1,20.1,13.9,71.7,2.149,20.5,147.9,1016.0,2.4,17.6,8,0.81,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,3.0,4.0,2022.0,31.4,30.1,10.3,28.7,0.000,18.4,308.2,1006.8,2.7,17.5,8,0.66,0.0
148,1.0,8.0,2023.0,31.5,36.2,23.0,61.5,0.000,17.3,265.0,1003.8,3.8,23.8,9,0.44,0.0
338,3.0,7.0,2021.0,36.1,40.6,21.6,44.4,7.656,22.3,286.6,999.3,3.5,21.8,8,0.94,0.0
610,4.0,11.0,2023.0,22.8,22.8,17.1,72.2,0.000,7.6,290.9,1012.8,1.3,15.6,7,0.67,0.0
299,6.0,1.0,2022.0,14.6,14.4,10.2,78.2,0.000,27.7,252.9,1012.5,2.1,15.0,7,0.93,1.0

# Training Random Forest Regressor

In [21]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 5, 10],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

rf = RandomForestRegressor()
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5)
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
# printing the best parameters found
print("Best parameters:", best_params)

# Training the model with the best parameters
best_rf = RandomForestRegressor(**best_params)
best_rf.fit(X_train, y_train)

# predicting the values using the best model
y_pred = best_rf.predict(X_test)

# Evaluating the model using R-squared score
r2 = r2_score(y_test, y_pred)

print("R-squared score:", r2)

Best parameters: {'max_depth': 10, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 200}
R-squared score: 0.9519212978695046

In [22]:
# saving the best Random forest model Trained
with open("model_rf.pkl", "wb") as f:
    pickle.dump(best_rf, f)

# Training a XG Boost model

In [23]:
import xgboost as xgb

# Define the parameter grid
xgb_param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [3, 6, 9],
    'learning_rate': [0.01, 0.1, 0.2],
    'subsample': [0.8, 0.9, 1.0],
    'colsample_bytree': [0.8, 0.9, 1.0]
}

# Initialize XGBoost Regressor
xgb_reg = xgb.XGBRegressor()

# Setup GridSearchCV
xgb_grid_search = GridSearchCV(estimator=xgb_reg, param_grid=xgb_param_grid, cv=5, scoring='r2')
xgb_grid_search.fit(X_train, y_train)

# Get the best parameters
xgb_best_params = xgb_grid_search.best_params_
print("Best parameters:", xgb_best_params)

# Initialize XGBoost Regressor with the best parameters
xgb_best_reg = xgb.XGBRegressor(**xgb_best_params)

# Fit the model
xgb_best_reg.fit(X_train, y_train)

# Predict on the test set
xgb_y_pred = xgb_best_reg.predict(X_test)

# Evaluate the model using R-squared score
xgb_r2 = r2_score(y_test, xgb_y_pred)
print("R-squared score:",xgb_r2)

In [ ]:
# saving the best Random forest model Trained
with open("model_xgb.pkl", "wb") as f:
    pickle.dump(xgb_best_reg, f)